/*  your css code here. If applicable */
#container{
	 margin:20px;
}
#container::before{
	content:"before Element";
	color:red;
	font-size:20px; 
}
#container::after{
	content:"after Element";
	color:red;
	font-size:20px; 
}